{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    <!--loop over each item in the posts list that was passed by the index() function -->
    {% for post in posts %}
    <!--url_for() function will return the proper URL for each post based on its ID-->
    <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <!--adaptive bootstrap tag for adding context-->
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}