/*add following CSS rule to <h1> tags*/ 
h1 {                                   
    border: 2px #eee solid;      
    color: brown;                
    text-align: center;            
    padding: 10px;                 
}
